/*----------------------------------------------------------------------------
                    Global CSS
----------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #4f4c4c;
    font-weight: 600;
}

.m-2 {
    margin-top: 10px;
}

.p-2 {
    padding: 2px 2px;
}

/* .container {
    padding: 30px;
} */


/*----------------------------------------------------------------------------
                    Header CSS 
----------------------------------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 25px 50px;
    box-shadow: 0px 2px 4px rgb(196 197 211 / 50%);
}

.header h1 {
    font-size: 22px;
    
}

.header h1 a {
    color: rgb(70 69 69);
}

.header .account-area a {
    /* text-decoration: none; */
    color: #4f4c4c;
    font-size: 16px;
    font-weight: 600;
}


/*----------------------------------------------------------------------------
                    Content Area CSS 
----------------------------------------------------------------------------*/
.content {
    display: flex;
    /* justify-content: ; */
    width: 100%;
    position: relative;
    z-index: 1;
    /* padding: 25px 50px; */
    box-shadow: 0px 2px 4px rgb(196 197 211 / 50%);
}

.content .menu {
    width: 25%;
    height: 100vh;
    padding: 25px 50px;
    box-shadow: 0px 2px 4px rgb(196 197 211 / 50%);
}

.content .content-area {
    background: #ccc5c5;
    width: 75%;
    height: 100vh;
    padding: 30px;
}

.content-area table {
    width: 100%;
    /* border: 1px solid #000; */
}

.content-area table tr {
    margin-top: 3px;
    
} 

.content-area th,
.content-area td {
    /* width: 25%; */
    /* border-bottom: 2px solid #000; */
    /* background: #fff; */
    text-align: left;
    padding: 5px 3px;
}
#no, #id-no {
    width: 5%;
}

#name, #email {
    width: 35%;
}

#action {
    width: 10%;
}
/*----------------------------------------------------------------------------
                    Footer CSS 
----------------------------------------------------------------------------*/
.footer {
    padding: 25px 50px;
    display: flex;
    justify-content: center;
}

/* .footer .footer-area {

} */

.footer .footer-area a {
    color: #4f4c4c;
}