/*----------------------------------------------------------------------------
                    Global CSS
----------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #4f4c4c;
}

.m-2 {
    margin-top: 10px;
}

.p-2 {
    padding: 2px 2px;
}

/* .container {
    padding: 30px;
} */


/*----------------------------------------------------------------------------
                    Header CSS 
----------------------------------------------------------------------------*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 25px 50px;
    box-shadow: 0px 2px 4px rgb(196 197 211 / 50%);
}

.header h1 {
    font-size: 22px;
    
}

.header h1 a {
    color: rgb(70 69 69);
    font-weight: 600;
}

.header .account-area ul {
    list-style: none;
}

.header .account-area .admin-name-a {
    color: #4f4c4c;
    font-size: 16px;
    font-weight: 600;
}

ul.admin-name li {
    position: relative;
}

ul.admin-logout {
    display: none;
    background: #6b6868;
    border: 1px solid #fff;
    border-radius: 8px;
    position: absolute;
    width: 123px;
    top: 100%;
    left: -5%;
    margin: 0;
    padding: 0;
}

ul.admin-logout li {
    padding: 5px;
}

ul.admin-logout li a {
    font-size: 13px;
    color: #fff;
}


ul.admin-name li:hover ul.admin-logout {
    display: block;
    transition: 1.0s;
}

/*----------------------------------------------------------------------------
                    Content Area CSS 
----------------------------------------------------------------------------*/
/* Admin panel css start */
.content {
    display: flex;
    /* justify-content: ; */
    width: 100%;
    position: relative;
    z-index: 1;
    /* padding: 25px 50px; */
    box-shadow: 0px 2px 4px rgb(196 197 211 / 50%);
}

.content .menu {
    width: 25%;
    height: 100vh;
    padding: 25px 50px;
    box-shadow: 0px 2px 4px rgb(196 197 211 / 50%);
}

.content .menu a {
    font-weight: 600;
}

.content .content-area {
    background: #ccc5c5;
    width: 75%;
    height: 100vh;
    padding: 30px;
}

.content-area table {
    width: 100%;
    /* border: 1px solid #000; */
}

.content-area table tr {
    margin-top: 3px;
    
} 

.content-area th,
.content-area td {
    /* width: 25%; */
    /* border-bottom: 2px solid #000; */
    /* background: #fff; */
    text-align: left;
    padding: 10px 3px;
}
#no, #id-no {
    width: 5%;
}

#name, #email {
    width: 25%;
}

#action, #comment, #mobile {
    width: 12%;
}

.admin-delete, .user-delete {
    color: #d4c7c7;
    padding: 5px;
    background: #8f0606;
    border: 1px solid #000;
    border-radius: 5px;
}

.admin-delete:hover {
    background: #4b0a0a;
}

/* Admin panel css end */

/* Account Setting CSS Start */

.content-area form {
    width: 70%;
    margin: auto;
}

.content-area .input-field {
    margin-top: 20px;
}

.content-area .input-all {
    display: block;
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 6px;
}

.content-area input[type="submit"] {
    background: #34ace0;
    /* width: 30%; */
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 6px;
    cursor: pointer;
}

.content-area input[type="submit"]:hover {
    background: #255164;
}
/* Account Setting CSS End */
/*----------------------------------------------------------------------------
                    Footer CSS 
----------------------------------------------------------------------------*/
.footer {
    padding: 25px 50px;
    display: flex;
    justify-content: center;
}

/* .footer .footer-area {

} */

.footer .footer-area a {
    color: #4f4c4c;
}